body {
    font-family: Arial, sans-serif;
    background-color: rebeccapurple;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}


.quiz-container {
    width: 80%;
    max-width: 900px;
    height: 80vh;
    background-image: url('quiz.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    

h1 {
    color: #007BFF;
    margin: 0 0 20px;
}

.topic-select label,
.timer,
.score {
    font-size: 18px;
    margin-bottom: 10px; /* Added margin for better spacing */
}

.topic-select select {
    font-size: 16px;
    padding: 8px; /* Adjusted padding for better input styling */
}

.start-button button,
.next-button {
    font-size: 16px;
    padding: 12px 24px; /* Increased padding for better button size */
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-button button:hover,
.next-button:hover {
    background-color: #0056b3;
}

.timer-and-score {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-top: 20px; /* Increased margin-top for better spacing */
}










